.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.messagesBlockWrapper {
    flex: 1 1 auto;
    position: relative;
    min-height: 0;
}

.messagesBlock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 0;
    overflow: scroll;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.leftMessage {
    align-self: start;
}

.centerMessage {
    font-weight: 300;
    font-size: 0.85rem;
    align-self: center;
}

.rightMessage {
    align-self: end;
}
